VITE_SUPABASE_URL=https://hfzewcibtfffsljoiexx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhmemV3Y2lidGZmZnNsam9pZXh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMjQxNjksImV4cCI6MjA4OTcwMDE2OX0.ONvXElltlFHO3nK7qAO65Bwj2r95aisD_yArU9S7aEs
